<template>
  <div>
    <form onsubmit="event.preventDefault()">
      <label for="username">Username</label>
      <input type="text" placeholder="username" id="username" v-model="user.username">
      <label for="password">Password</label>
      <input type="password" placeholder="password" id="password" v-model="user.password">
      <button @click="login">login</button>
    </form>
  </div>
</template>

<script>
  import api from '~/plugins/api';
export default {
  data() {
    return {
      user: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    async login() {
      try{
        const res = await api.authenticate({
          strategy: 'local',
          ...this.user
        })
        this.$router.push('/admin')
        alert("Welcome")
      }catch(err){
        alert("Try again later")
      }


    }
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
